@page "/aboutPage"
@using ESOCompanion.Data


<div class="fullscreen-bg">
    <h1 class="text-center"><img class="float-left" src="img/altx_icon.png" width="64" height="64">About</h1>
    <div class="container text-center col-10 border-dark">
        <h3>Idea</h3>
        <div class="text-center text-dark">
            <p>ESO Companion is a fan-made WebApp to help track Character Progression in The Elder Scrolls Online.</p>
            <p>Developed in Visual Studio by <a href="http://topherlee513.github.io/">Topher Lee</a> using the <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor Framework</a>.</p>
        </div>
        <h3>Credits</h3>
        <div>
            <img class="float-left" src="https://images.uesp.net/1/1b/ZeniMax_Online_Studios_logo.jpg" width="90" height="50" />
            <p>Icon image by <a href="http://topherlee513.github.io/">Topher Lee</a>, originally made for <a href="https://openmw.org/en/">OpenMW</a>.</p>
            <p>Background image "brown_age_by_darkwood67.jpg" by <a href="https://www.deviantart.com/darkwood67">darkwood67</a> from <a href="https://www.deviantart.com/darkwood67/art/brown-age-136811979">deviantart</a>.</p>
            <p>Typeface "Pelagiad" by <a href="isaskar.github.io">isaskar</a> from <a href="isaskar.github.io/Pelagiad">GitHub</a>.</p>
        </div>
        <h3>Disclaimer</h3>
        <div>
            <p>The Elder Scrolls Online IP is owned by Zenimax...</p>
            <p>Some data and images used are scraped from <a href="en.uesp.net">UESP.net</a> and are Copyright by <a href="https://www.zenimaxonline.com/">Zenimax Online Studios</a>.</p>
            <p>ESO Companion is not created by, endorsed by, or otherwise affiliated with <a href="en.uesp.net">UESP.net</a> or <a href="https://www.zenimaxonline.com/">Zenimax Online Studios</a>.</p>
        </div>
    </div>
</div>
@code {

}