@page "/accountRegisterPage"
@using ESOCompanion.Data
@using DataAccessLibrary.Services
@inject AccountManager accounts
<h1 class="oi oi-circle-check"> Account Register Page</h1>
<div>
    Under Construction...
</div>

@code {

}
