@page "/accountPage"
@using DataAccessLibrary.Models
@using DataAccessLibrary.SQLite
@using ESOCompanion.Data
@inject AppData data
@inject IUserData userData

<h3>AccountPage</h3>
@if (users is null)
{
    <AccountRegisterModule />
}
else
{
    <AccountLoginModule />
}
@code {
    public UserModel user = new UserModel();
    public List<UserModel> users;

    protected override async Task OnInitializedAsync()
    {
        users = await userData.GetUsers();
    }
}
