@page "/accountLoginPage"

@using DataAccessLibrary.SQLite
@using DataAccessLibrary.Models
@using ESOCompanion.Data
@inject IUserData userData


<h1 class="oi oi-circle-check"> Account Login Page</h1>
<h1 class="text-center">Welcome Back User</h1>
<div class="container align-items-center">
    <EditForm Model="@userData" OnValidSubmit="@SearchUsers">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="userName">User Name </span>
            </div>
            <InputText id="userName" @bind-Value="user.userName" />
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="userPassword">Password </span>
            </div>
            <InputText id="userPassword" @bind-Value="user.userPassword" />
        </div>

        <button class="btn btn-primary oi oi-plus" @onclick="SearchUsers"> Submit</button>
    </EditForm>
</div>

@code {
    UserModel user = new UserModel();
    public List<UserModel> users;

    protected override async Task OnInitializedAsync()
    {
        users = await userData.GetUsers();
    }
    private async Task SearchUsers()
    {
        // If user does exist, login, else return
        if (user.userName != "" && user.userPassword != "")
        {
            UserModel userCheck = await userData.SearchForUser(user.userName);
            if (userCheck != null)
            {
                VerifyUserPassword(userCheck);
            }
        }
        else
        {
            Console.WriteLine(user.userName + " not found!");
            return;
        }
    }
    private void VerifyUserPassword(UserModel userCheck)
    {
        if (user.userName == userCheck.userName)
        {
            if (userCheck.userPassword == user.userPassword)
            {
                AppData.loadedUser = userCheck;
                Console.WriteLine(AppData.loadedUser.userName + " success!");
            }
            else
            {
                Console.WriteLine(user.userName + " Password doesn't match!");
                return;
            }
        }
        else
        {
            Console.WriteLine(user.userName + "User not found!");
        }
    }
}
