@page "/"

<h1 style="text-align:center;"><img class="float-left" src="img/icon.png" width="64" height="64" />ESO Companion</h1>
<p>Track your ESO Characters and Styles/Motifs</p>
<div class="container">
    <ClockModule></ClockModule>
    <div class="text-center">
        <ul>
            Use the NavMenu on the left Sidebar to see:
            <li>Account Management</li>
            <li>Character Management</li>
            <li>Motif Collection Per-Character</li>
            <li>Settings</li>
            <li>Credits</li>
        </ul>
    </div>
</div>
@code{

}