@using ESOCompanion.Pages
@using ESOCompanion.Data
@using DataAccessLibrary.Models
@using DataAccessLibrary.SQLite
@inject AppData appData
@inject IUserData userData

<div class="container align-items-center">
    <div class="align-content-center">
        <img src="~/img/icon.png" width="64" height="64" />
    </div>
    <h3>Login</h3>
    <EditForm Model="@userData" OnValidSubmit="@accPage.SearchUsers">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="userName">User Name </span>
            </div>
            <InputText id="userName" @bind-Value="accPage.user.userName" />
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="userPassword">Password </span>
            </div>
            <InputText id="userPassword" @bind-Value="accPage.user.userPassword" />
        </div>
        <button class="btn btn-primary oi oi-plus" @onclick="accPage.SearchUsers"> Submit</button>
        <div class="align-content-center">
            <p>Don't have an account?</p>
            <button class="btn btn-primary oi-plus"> Register</button>
        </div>
    </EditForm>
</div>
@code {
    AccountPage accPage;
}
