@inherits LayoutComponentBase
@using ESOCompanion
@using ESOCompanion.Data
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <a href="/" @onclick="(() => Logout())">Logout</a>
            </Authorized>
            <NotAuthorized>
                <a href="/accountLoginPage">Login</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
    <Footer />
</div>

@code {
    public void Logout()
    {
        AppData.UnloadUser();
    }
}