@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@using ESOCompanion.Data
@using System

<div class="top-row pl-4 navbar navbar-dark">
    <img class="float-left" src="img/icon.png" width="32" height="32" />
    <a class="navbar-brand" href="">ESO Companion</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass sticky-top" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                @if (AppData.role == "Noob" || AppData.role == "Admin")
                {
                    <UserContent />
                }
            </Authorized>
            <NotAuthorized>

            </NotAuthorized>
        </AuthorizeView>
        <li>
            <span role="separator"></span>
        </li>
    </ul>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    @if (AppData.role == "" || AppData.role == "Admin")
                    {
                        <NavLink class="nav-link" href="accountPage">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Account
                        </NavLink>
                    }
                </Authorized>
                <NotAuthorized>

                </NotAuthorized>
            </AuthorizeView>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="accountPage">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="accountRegisterPage">
                <span class="oi oi-terminal" aria-hidden="true"></span> Register
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settingsPage">
                <span class="oi oi-wrench" aria-hidden="true"></span> Settings
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="aboutPage">
                <span class="oi oi-question-mark" aria-hidden="true"></span> About
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}